* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

header {
display: flex;
background-color: #1F2937;
height: 600px;
width: 100vw;
flex-wrap: wrap;
}

.div1, .div2 {
    width: 50%;
    height: 35%;
    padding-top: 25px;

}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.div1, .div3 {
    padding-left: 300px;
    padding-right: 200px;
}

.div3, .div4 {
    width: 50%;
    height: 65%;
}

.div2 {
    padding-right: 300px;
    padding-left: 200px;
}

.div4 {
    padding-right: 300px;
}

header div h3 {
    font-size: 24px;
    color: #f9faf8; ;
}

header div ul {
    font-size: 18px;
    color: #e5e7eb;
}

header div h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

header div button {
    background-color: #3882f6;
}

header div p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 150px;
    height: 50px;
    color: #f9faf8;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 12px;
    border: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}