* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
display: flex;
background-color: #1F2937;
padding-left: 80px;
padding-right: 60px;
padding-bottom: 60px;
height: 600px;
width: 100vw;
justify-content: space-around;
flex-wrap: wrap;
}

.div1,div2 {
    width: 400px;
    height: 300px;
    

}

.div3,div4 {
    width: 400px;
    height: 300px;
}

header div h3 {
    font-size: 24px;
    color: #f9faf8; ;
}

header div ul {
    font-size: 18px;
    color: #e5e7eb;
}

header div h1 {
    font-size: 48px;
    color: #f9faf8;
}

header div button {
    background-color: #3882f6;
}

header div p {
    font-size: 18px;
    color: #e5e7eb;
}